{% extends 'base.html' %}

{% block content %}
<h1 style="text-align: center;">About Me</h1>
<p style="text-align: center;">This is the about page.</p>

<body style="background-color:powderblue;">
    <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; text-align: center; background-color: azure;">
        Hello, my name is Paul Janota and currently I am a CIS major at West Texas A&M University. <br>
        I work for the Amarillo Independent School District as a PC Technician, my job mostly focuses <br>
        around repairing Chromebooks and completing general IT work orders. On my free time I enjoy <br>
        playing games by myself and with friends, with my favorite games being shooters and simulators. <br>
    </p>
</body>
{% endblock %}